.resumeContainer{
    background-color: #10121B;;
    width: 80%;
    margin-left: 20%;
    min-height: 100vh;
    padding: 5%;
}

.skillHeadingCont{
    width: 30%;
}
.mySkillsHeading{
    color: #ffffff;
}
.skillDetails{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
}
.skillDetails .skills{
    width: 45%;
    padding: 0.5% 0;
}
