
.MainAppContainer{
  width: 100%;
  overflow: hidden;
}

.particle_banner{
  display: flex;
}
.particle_div{
  width: 80%;
  margin-left: 20%;
  height: 100vh;
  background: red;
  position: relative;
}
.particle_contents{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:100%;
  max-height: 100%;
  overflow: auto;
}

.name{
  color: white;
  font-size:4em;
  text-align: center;
}
.left_drawer_div{
  width: 20%;
  height: 20vh;
  background: salmon;
}
.collapse_icon{
  position: absolute;
  top: 0;
  background:saddlebrown;
  cursor: pointer;
}